<section id="projects">
    <div class="container py-5">
        <div class="title">
            <p class="large-title">|Projects|</p>
            <h2 class="text-center small-title">Projects</h2>
        </div>

        <div class="row pt-5">
            <div class="col-md-4">
                <div class="card">

                        <div class=" card-img front-card">
                          <div class="card-body">
                            <img src="/assets/imgs/projects-imgs/E-COMMERCE.png" alt="">
                          </div><!--card body-->
                          
                        </div><!--front card-->
       
                          <div class="back-card">
                            <h2> Project Name : </h2>
                            <h3> E-COMMERCE</h3>
                            <div class="btn">
                                <a href="https://e-commerce-22ab1.web.app/" target="_blank"> Check The Project</a>
                             </div>
                          </div><!--back-card-->
                </div> <!--card-->
            </div>

            <div class="col-md-4">
                <div class="card">

                        <div class=" card-img front-card">
                          <div class="card-body">
                            <img src="/assets/imgs/projects-imgs/ANGORA.png" alt="">
                          </div><!--card body-->
                          
                        </div><!--front card-->
       
                          <div class="back-card">
                            <h2> Project Name : </h2>
                            <h3> ANGORA</h3>
                            <div class="btn">
                                <a href="https://amrali210.github.io/Angora/" target="_blank"> Check The Project</a>
                             </div>
                          </div><!--back-card-->
                </div> <!--card-->
            </div>

            <div class="col-md-4">
                <div class="card">

                        <div class=" card-img front-card">
                          <div class="card-body">
                            <img src="/assets/imgs/projects-imgs/CRUD.png" alt="">
                          </div><!--card body-->
                          
                        </div><!--front card-->
       
                          <div class="back-card">
                            <h2> Project Name : </h2>
                            <h3> CRUD Operations</h3>
                            <div class="btn">
                                <a href="https://amrali210.github.io/Crud/" target="_blank"> Check The Project</a>
                             </div>
                          </div><!--back-card-->
                </div> <!--card-->
            </div>

            <div class="col-md-4">
                <div class="card">

                        <div class=" card-img front-card">
                          <div class="card-body">
                            <img src="/assets/imgs/projects-imgs/Devfolio.png" alt="">
                          </div><!--card body-->
                          
                        </div><!--front card-->
       
                          <div class="back-card">
                            <h2> Project Name : </h2>
                            <h3> DevFolio</h3>
                            <div class="btn">
                                <a href="https://amrali210.github.io/DevFolio/" target="_blank"> Check The Project</a>
                             </div>
                          </div><!--back-card-->
                </div> <!--card-->
            </div>

            <div class="col-md-4">
                <div class="card">

                        <div class=" card-img front-card">
                          <div class="card-body">
                            <img src="/assets/imgs/projects-imgs/GP.png" alt="">
                          </div><!--card body-->
                          
                        </div><!--front card-->
       
                          <div class="back-card">
                            <h2> Project Name : </h2>
                            <h3> GP</h3>
                            <div class="btn">
                                <a href="https://amrali210.github.io/GP/" target="_blank"> Check The Project</a>
                             </div>
                          </div><!--back-card-->
                </div> <!--card-->
            </div>

            <div class="col-md-4">
                <div class="card">

                        <div class=" card-img front-card">
                          <div class="card-body">
                            <img src="/assets/imgs/projects-imgs/Weather API.png" alt="">
                          </div><!--card body-->
                          
                        </div><!--front card-->
       
                          <div class="back-card">
                            <h2> Project Name : </h2>
                            <h3> Weather API</h3>
                            <div class="btn">
                                <a href="https://amrali210.github.io/Weather-Api/" target="_blank"> Check The Project</a>
                             </div>
                          </div><!--back-card-->
                </div> <!--card-->
            </div>

            <div class="col-md-4">
                <div class="card">

                        <div class=" card-img front-card">
                          <div class="card-body">
                            <img src="/assets/imgs/projects-imgs/Task Manager.png" alt="">
                          </div><!--card body-->
                          
                        </div><!--front card-->
       
                          <div class="back-card">
                            <h2> Project Name : </h2>
                            <h3> Task Manager</h3>
                            <div class="btn">
                                <a href="https://task-manager-af41d.web.app/" target="_blank"> Check The Project</a>
                             </div>
                          </div><!--back-card-->
                </div> <!--card-->
            </div>

        </div>

    </div>
</section>