<section class="main-bg" id="skills">
    <div class="container py-5">
        
        <div class="title">
            <p class="large-title">|Skills|</p>
            <h2 class="text-center small-title">Skills</h2>
          </div>

        <div class="row pt-5">

            <div class="col-md">
                <div class="skills">
                    <h3><span class="letter-clr">A</span><span class="word-clr">ngular</span></h3>
                </div>
            </div>  

            <div class="col-md">
                <div class="skills">
                    <h3><span class="letter-clr">T</span><span class="word-clr">ypescript</span></h3>
                </div>
            </div>

            <div class="col-md">
                <div class="skills">
                    <h3><span class="letter-clr">E</span><span class="word-clr">S6</span></h3>
                </div>
            </div>

            <div class="col-md">
                <div class="skills">
                    <h3><span class="letter-clr">J</span><span class="word-clr">son</span></h3>
                </div>
            </div>

            <div class="col-md">
                <div class="skills">
                    <h3><span class="letter-clr">H</span><span class="word-clr">TML5</span></h3>
                </div>
            </div>

            
            <div class="col-md">
                <div class="skills">
                    <h3><span class="letter-clr">A</span><span class="word-clr">jax</span></h3>
                </div>
            </div>
        </div><!--first row-->
        
        <div class="row">
            <div class="col-md-3">
                <div class="skills">
                    <h3><span class="letter-clr">J</span><span class="word-clr">avascript</span></h3>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="skills">
                    <h3><span class="letter-clr">S</span><span class="word-clr">ASS</span></h3>
                </div>
            </div>

            <div class="col-md-3">
                <div class="skills">
                    <h3><span class="letter-clr">B</span><span class="word-clr">ootStrap</span></h3>
                </div>
            </div>

            <div class="col-md-3">
                <div class="skills">
                    <h3><span class="letter-clr">G</span><span class="word-clr">it</span></h3>
                </div>
            </div>
            
        </div><!-- second row-->

        <div class="row">
            <div class="col-md-4">
                <div class="skills">
                    <h3><span class="letter-clr">O</span><span class="word-clr">OP</span></h3>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="skills">
                    <h3><span class="letter-clr">R</span><span class="word-clr">EST FULL API's</span></h3>
                </div>
            </div>

            <div class="col-md-4">
                <div class="skills">
                    <h3><span class="letter-clr">A</span><span class="word-clr">ngular Material</span></h3>
                </div>
            </div>
        </div><!-- third row-->

        <div class="row">
            <div class="col-md-6">
                <div class="skills">
                    <h3><span class="letter-clr">J</span><span class="word-clr">Query</span></h3>
                </div>
            </div>

            <div class="col-md-6">
                <div class="skills">
                    <h3><span class="letter-clr">P</span><span class="word-clr">roblem Solving</span></h3>
                </div>
            </div>
        </div><!-- fourth row-->

        <div class="row">
            <div class="col-md-12">
                <div class="skills">
                    <h3><span class="letter-clr">A</span><span class="word-clr">gile</span></h3>
                </div>
            </div>
        </div><!-- last row-->
        
    </div>
</section>