<footer>
    <section id="copy-right" >
        <div class="container">
            <div class="d-flex justify-content-between ">
                <div class="left ">
                    <h6>Copyright <sup>©</sup> 2024. All Rights Reserved</h6>
                </div>
                <div class="right ">
                    <a href="https://www.facebook.com/amr.ali.mostafa" target="_blank">
                    <fa-icon [icon]="facebook"></fa-icon>   
                    </a>

                    <a href="https://www.linkedin.com/in/amr210/" target="_blank"> 
                    <fa-icon [icon]="linkedIn"></fa-icon>   
                    </a>

                    <a href="https://github.com/AmrAli210" target="_blank">
                    <fa-icon [icon]="Github"></fa-icon>   
                    </a>

                    <a href="https://wa.me/+201123171936" target="_blank">
                    <fa-icon [icon]="whatsApp"></fa-icon>   
                    </a>
                </div>
            </div>
        </div>
    </section>
</footer>  