<section id="why-me">
    <div class="container py-5">
        <div class="title">
            <p class="large-title">|WhyMe|</p>
            <h2 class="text-center small-title">Why Me</h2>
        </div>

        <div class="row pt-5">
            <div class="col-md-5">

                <div class="type-js mb-5">
                    <ngx-typed-js
                    [strings]="['Happen Fast','Be Really Good','Bring Fresh Ideas']"
                    [loop]="true"
                    [typeSpeed]="40"
                    [fadeOut]="true"
                    [fadeOutDelay]="600"
                    [showCursor]="false"
                    >
                    <h3>You want things <br/> to <span class="typing main-clr"></span></h3> 
                </ngx-typed-js>
                </div><!--type-js-->
                
                <div class=" whyme-info row">
                    <div class="col-md-2 ">
                        <img src="/assets/imgs/icons-imgs/speed.svg" alt="">
                    </div>
                    <div class="col-md-10">
                        <h2>Save Your Time</h2>
                        <p>Project execution in record time with maintaining quality.</p>
                    </div>
                </div>

                <div class=" whyme-info row">
                    <div class="col-md-2 ">
                        <img src="/assets/imgs/icons-imgs/badge.svg" alt="">
                    </div>
                    <div class="col-md-10">
                        <h2>High Quality </h2>
                        <p>High quality and optimised code ensuring the website performs effectively.</p>
                    </div>
                </div>

                <div class=" whyme-info row">
                    <div class="col-md-2 ">
                        <img src="/assets/imgs/icons-imgs/innovation.svg" alt="">
                    </div>
                    <div class="col-md-10">
                        <h2>Innovation and good ideas </h2>
                        <p>Always stay consistent with your brand guidelines.</p>
                    </div>
                </div>

            </div>

            <div class="col-md-6 offset-md-1">
                <div class="img-holder">
                    <img src="../../../../assets/imgs/work.png" alt="">
                </div>
            </div>

        </div>
    </div>
</section>