.type-js
{
  h3 
  {
    font-size: 3rem;
    font-weight: 700;
  }
}
.whyme-info {
  margin-bottom: 2rem;
  img {
    width: 100%;
  }
  h2 {
    font-size: 2rem;
    color: rgb(62, 61, 61);
  }
  p {
    font-size: 1.2rem;
    color: rgb(62, 61, 61);
  }
}
