<nav [class.dark]="scrolling" class="w-100 pt-2">
    <div class="container">
        <div class="row align-items-center">
            <div class="nav-logo col-md-4 offset-md-1  ">
                <div class="logo-name ">
                    <img src="/assets/imgs/logo-imgs/Amr.png" alt="">
                    <a class="ms-2"><span class="main-clr">A</span>mr <span class="main-clr">A</span>li</a>
                </div>
            </div>
            <div class="col-md-6 offset-md-1  ">
                <div class="nav-info">
                    <ul>
                        <li>
                            <a class="links" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="links" href="#services">Services</a>
                        </li>
                        <li>
                            <a class="links" href="#why-me">Why Me?</a>
                        </li>
                        <li>
                            <a class="links" href="#skills">Skills</a>
                        </li>
                        <li>
                            <a class="links" href="#projects">Projects</a>
                        </li>
                        <li>
                            <a class="links" href="#contact">Contact</a>
                        </li>
                    </ul>  
                </div>
              
            </div>
        </div>
    </div>

</nav>
