<header id="home" class=" vh-100 overflow-hidden d-flex justify-content-center align-items-center ">
    <div id="particles-js"></div>
    <div class="my-info container ">
        <div class="row">
            <div class="my-title col-md-5 offset-md-1">
                <h3>Hi,</h3>
                <h2 >I'm <span class="main-clr">Amr</span> Ali</h2>
                <p>I'm a Front-End Developer</p>
                <div class="d-flex">
                    <div class="social-media ">
                        <a href="https://www.facebook.com/amr.ali.mostafa" target="_blank">
                        <fa-icon [icon]="facebook"></fa-icon>   
                        </a>
    
                        <a href="https://www.linkedin.com/in/amr210/" target="_blank"> 
                        <fa-icon [icon]="linkedIn"></fa-icon>   
                        </a>
    
                        <a href="https://github.com/AmrAli210" target="_blank">
                        <fa-icon [icon]="Github"></fa-icon>   
                        </a>
    
                        <a href="https://wa.me/+201123171936" target="_blank">
                        <fa-icon [icon]="whatsApp"></fa-icon>   
                        </a>
                        
                    </div>
                </div>
            </div> 
          
            <div class="col-md-6">

            </div>
        </div>
    </div>
</header>
